---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';

// Add this line to import Poppins font
import '@fontsource/poppins/100.css';  // Thin
import '@fontsource/poppins/200.css';  // Extra Light
import '@fontsource/poppins/300.css';  // Light
import '@fontsource/poppins/400.css';  // Regular
import '@fontsource/poppins/500.css';  // Medium
import '@fontsource/poppins/600.css';  // Semi Bold
import '@fontsource/poppins/700.css';  // Bold
import '@fontsource/poppins/800.css';  // Extra Bold
import '@fontsource/poppins/900.css';  // Black

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "MountainAsh"
  : "MountainAsh - Innovative CCR Data Solutions";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href={`${import.meta.env.BASE_URL}/favicon32.png`}">
    <link rel="icon" type="image/png" sizes="16x16" href={`${import.meta.env.BASE_URL}/favicon16.png`}>
    <!--     <link rel="manifest" href="/site.webmanifest"> -->


    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="MountainAsh is an Innovative CCR Data Solution"
      canonical={canonicalURL}
      twitter={{
        creator: "@surjithctly",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `MountainAsh - Innovative CCR Data Solutions`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Astroship Homepage Screenshot",
        },
      }}
    />
    <!-- Add this style tag -->
    <style is:global>
      .font-poppins {
        font-family: 'Poppins', sans-serif;
      }
    </style>    
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
